@using CozyMarkdown.Data.Models
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<ArticlecModel>>
@{
    Layout = "Layout.cshtml";
}

<header class="intro-header animated bounceInDown" style="background-image: url('/Content/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Cozy's Bolg</h1>
                    <span class="subheading">各种屌炸天</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">        
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @for (int i = 0; i < @Model.Count; i++) {
            <div class="post-preview animated @(i % 2 == 0 ? " bounceInLeft" : "bounceInRight" )">
                <a href="@("/Article/" + Model[i].Title)">
                    <h2 class="post-title">
                        @Model[i].Title
                    </h2>
                    <h3 class="post-subtitle">
                        @Model[i].SubTitle
                    </h3>
                </a>
                <p class="post-meta">@Model[i].UpdateDate.ToString("yyyy-MM-dd")</p>
            </div>
            <hr>
            }
  
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
